/* transactionFeed.css */

/* Main container styling */
#main-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    background-color: #ffffff;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #333333;
    margin: 5px 0px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added transition for hover effect */
}

/* Main section styling with date and address in columns */
#main {
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

/* Styling for date and address */
#date,
#address {
    padding: 8px;
}

/* Description section styling */
#description {
    flex: 0.7;
    padding: 8px;
}

/* Hover effect on the main container */
#main-container:hover {
    background-color: #282525;
    color: #ffffff; /* Change text color on hover */
}

/* Optional: Add a subtle box shadow on hover */
#main-container:hover {
    box-shadow: 0 0 10px rgba(145, 140, 140, 0.2);
}
