body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/background.png"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.82; /* Adjust the opacity as needed */
  }