name: finsafe.backend.js

on:
  push:
    branches: [ live ]
    paths:
      - '**'

jobs:
  build:
    runs-on: [ self-hosted,finsafe-backend ]

    strategy:
      matrix:
        node-version: [ 16.x ]

    steps:
      - uses: actions/checkout@v4
        with:
          ref: live
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: backend/package-lock.json
      - run: cd backend
      - run: npm i
      - run: pm2 restart api
