name: finsafe.frontend.js

on:
  push:
    branches: [ live ]
    paths:
      - '**'

jobs:
  build:
    runs-on: [ self-hosted,finsafe-frontend ]

    strategy:
      matrix:
        node-version: [ 16.x ]

    steps:
      - uses: actions/checkout@v4
        with:
          ref: live
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json
      - run: npm i
      - run: npm run build
      - run: pm2 restart frontend --no-autorestart
